@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffffff;
  --button-color: #ff561d;
  --black-color: #000000;
  --ternory-color: #ffffff;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.66;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, th {
  font-family: Playfair Display;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.23;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
/* Margin top */
.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

/* Margin right */
.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

/* Margin bottom */
.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

/* Margin left */
.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

/* Padding top */
.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

/* Padding right */
.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

/* Padding bottom */
.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

/* Padding left */
.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}
/* Text alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Font weight */
.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: lighter;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 1px solid black;
}
.btn:hover{
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 1px solid var(--button-color);
}
.container-fluid {
  width: 100%;
}
.container {
  width: 90%;
  margin: auto;
}
.p_relative{
    position: relative;
}
h2, .h2 {
  font-size: calc(28px + (40 - 28) * ((100vw - 554px) / 646));
}

p{
  margin-bottom: 1.5em;
}


/* ----nav bar css is here----  */
.header_navbar{
  width: 100%;
  background-color: var(--primary-color);
  border: 0px solid red;
  position: fixed;
  top: 0px;
  z-index: 999;
  height: 70px;
}
nav{
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  border: px solid red;
  /* padding: 0px 2em; */
  z-index: 9; /* Adjust z-index as needed */
  
}
.nav-bar{
  border: 0px solid blue;
  width: 90%;
  margin: auto;
}
.main_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .desktop_logo{
  background-size: cover;
  border: 0px solid black;
  height: 25px;
  margin: 1em 0em;
}
.menus .nav-list {
  display: flex;
  border: 0px solid black;
  margin-top: 0em;
  
}
.menus .nav-list li a{  
  padding: 0 0.5em;
  margin-right: 2em;
  color: var(--secondary-color);
  font-weight: 550;
  border: 0px solid red;
  position: relative;
  color: #0e3481;

}
.menus .nav-list li a::after{
  content: '';
  height: 2px;
  width: 0px;
  background:var(--button-color);
  border-radius: 3px;
  position: absolute;
  bottom: -5px;
  right: 0%;
  transition: 0.3s;
}

.menus .nav-list li a:hover::after{
  width: 100%;
  left: 0%;
}
.menus{
  display: flex;
}
.header_burger{
  display: none;
}
.mobile-menu {
  display: none;
}
/* ----nav bar css is closed ---  */
/* -----slider css is here---  */
.slider {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 0px solid red;
}
.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.slider .list .item .type {
  color: #ff561d;
}
.slider .list .item .button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.slider .list .item .button button {
  border: none;
  background-color: #ff561d;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}

.slider .list .item .button button:hover {
  letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nextPrevArrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff561d;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }
  .slider .list .item .content .title {
    font-size: 50px;
  }
}
/* ----slider css is over now ----  */


/* ---footer css is here ---  */
footer{
  margin-top: 3rem;
}
.main_flex{
  display: flex;
  justify-content: space-between;
}
.footer_left{
  width: 60%;
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
  padding: 2em 0em;
}
.footer_right{
  width: 40%;
  border-top: 1px solid black;
  padding: 7em 7em;
  border-bottom: 1px solid var(--black-color);
}
.footer_top{
  width: 100%;
  height: 100%;
}

.footer_second_left{
  width: 60%;
  border-bottom: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
}
.footer_second_left .footer_img{
  text-align: center;
}
.footer_second_left p{
  text-align: center;
}
.footer_second_right{
  width: 40%;
  border-bottom: 1px solid var(--black-color);
}
.footer_down_right{
  padding: 0em 7em
}
.footer_down_right ul li{
  padding: 0.5em 0em;
}
.footer_icon{
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer_icon .footer_icon_img i{
  border: 0px solid red;
  transform: scale(2);
  padding: 0em 1.8em;
}

.footer_author_content{
  display: flex;
  justify-content: space-between;
}
.footer_icon1{
  display: none;
}

/* ---footer css is over now---  */


/* ---footer above swiper sider is here ---  */

.swiper_project{
  width: 100%;
  border: 0px solid red;
  margin: auto;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */
.swiper_slider .see_project{
  margin-bottom: 1em;
  margin-top: 1em;
  border: 0px solid black;
  text-align: center;
}

.card {
  display: grid !important;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 29.125rem !important;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  margin-left: 2.78em !important;
  border: 0px solid red;
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100% !important;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 0% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
  border: 0px solid red;
}
.card__title{
  font-size: 2.25rem;
  color: white;
}
.card__description{
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  text-align: justify;
}
.card__button{
  border: 0px solid white;
  background-color: red;
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  top: 0px;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
  border: 0px solid red;
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: hsl(46, 100%, 50%);
  font-size: 1.125rem;
  color: white;
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}
.swiper-pagination{
  display: none;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 100ms ease-out;
    transition-delay: 100ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 500ms ease-in, transform 100ms ease-out;
    transition-delay: 100ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 100ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 100ms ease-out, opacity 100ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 100ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 100ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 100ms ease-in;
    transition-delay: 00ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 100ms ease-in, transform 100ms ease-in;
    transition-delay: 100ms;
  }
  .swiper-pagination{
    display: none;
  }
}

/* --footer swiper slider code over now ---  */



/* project code is here---  */
.project_section{
  width: 90%;
  border: 0px solid red;
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}
.project_section_left1{
  width: 50%;
  border: 0px solid red;
  padding: 0em 3.5em 0em 0em;
}
.project_section_left12{
  padding: 0em 0em 0em 3.5em;
}
.project_brick span{
  color: var(--button-color);
}
.project_section_left1 h3{
  font-weight: 500;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.project_section_left1 p{
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  margin-bottom: 0.5em;
}
.project_section_left1 .view_more{
  padding: 10px 20px;
  border: 1px solid black;
  display: table;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
}
.project_section_left1 .view_more:hover{
  background-color: black;
  color: white;
}
.view_more a:hover{
  color: white;
}

.project_section_right1{
  width: 50%;
  text-align: left;
  transform: scale(1);

}
.project_section_right1 img{
  width: 100%;
  padding: 1rem;
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.our_projects{
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  border: 0px solid red;
  margin-top: 2em;
}
.project_images{
  border: 0px solid red;
  display: table;
  position: relative;
  overflow: hidden;
}
.project_images_in{
  width: 100%;
  height: 100%;
  border: 0px solid green;
  position: absolute;
  top: -100%;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  background-color: rgba(200, 203, 218, 0.3);
  color: white;
  font-weight: 600;
}
.project_images_in p{
  margin-top: 25%;
}
.project_images:hover .project_images_in{
  top: 0%;
  transition: 0.5s;
}

/* ----project css is over now --  */

.about_section{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: 0px solid red;
  padding-top: 7em;
  margin-bottom: 3em;
}
.about_left{
  width: 40%;
}
.about_left img{
  width: 80%;
  height: 78%;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  border-radius: 50% 50% 0% 0%;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.about_left h1{
  line-height: 55px;
  font-weight: 500;
}
.about_right{
  width: 60%;
}
.about_right p{
    text-align: justify;
    margin-bottom: 0px;
}
.experience_section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.experiencce{
  width: 50%;
}
.experiencce h3{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.experiencce p{
  font-size: 14px;
  margin-bottom: 0.5em;
}
.experiencce_border{
  width: 80%;
  border-bottom: 1px solid brown;
}
.about_right img {
  background-size: cover;
  width: 100%;
  filter: grayscale(100%);
  border-radius: 20px;
  height: 80%;
}

/* ---about is over now--  */

/* ----contact us sectio is here---  */
.contact_us{
  width: 100%;
  border: 0px solid red;
  margin-top: 5em;
}
.contact_from{
  width: 60%;
  border: 0px solid red;
  margin: auto;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
.contact_from_left{
  width: 50%;
  border: 0px solid green;
}
.contact_from_right{
  width: 50%;
  border: 0px solid red;
}
.input_contact input{
  width: 95%;
  background-color: white;
  border: none;
  padding: 20px 24px;
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  border: 0px solid red;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.input_contact_right textarea{
  width: 100%;
  height: 100%;
  border: none;
  padding: 24px 24px;
  font-size: 18px;
  border: 0px solid red;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/* ----contact css is here ---  */
.contact_map{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0px solid red;
  margin-top: 4em;
}
.contact_map_left{
  width: 50%;
  border: 0px solid black;
}
.contact_map_left iframe{
  height: 100%;
  border-radius: 10px;
}
.contact_map_right{
  width: 50%;
  border: 0px solid green;
}

.grid-container_contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4em;
  padding: 20px;
  border: 0px solid red;
}

/* Styles for grid items */
.grid-item_contact {
  padding: 20px;
  text-align: center;
  border: 0px solid red;
}
.grid-item_contact i{
  transform: scale(1.4);
}

/* --contact css is over now---  */

/* ---carrer css is here  ---  */
.open_position h2{
  margin-top: 2em;
}
.open_position p{
  font-size: 18px;
}
.grid_container_carrer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10em;
  justify-content: center;
  padding: 20px;
}

/* Style for grid items */
.grid_item_carrer {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.grid_item_carrer_content1{
  border-bottom: 1px solid black;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .grid_container_carrer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
}

@media screen and (max-width: 480px) {
  .grid_container_carrer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

/* ---carrer model inside form css is here---  */
.form-group{
  width: 100%;
  border: 0px solid red;
}
.form-group label{
  font-size: 16px;
}
.form-group select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}
.carrer_name{
  display: flex;
  justify-content: space-between;
}
.carrer_name .form-group{
  width: 48%;
  border: 0px solid green;
  margin: 0.5em 0em;
  
}
.carrer_name .form-group input{
  width: 40%;
}
/* ----carrer model inside form css is over now ---  */
/* ---carrer css is over now --  */

/* ----project link css is here---  */
.our_projects{
  text-align: center;
  font-weight: 500;
  margin-top: 3em;
}
.project_link{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.proejctLink_left{
  width: 40%;
}
.proejctLink_left h3{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.proejctLink_right {
  width: 60%;
}
.proejctLink_right h3{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.proejctLink_right p{
  font-size: 18px;
}

/* ---gallery project csss is here --  */
.grid-gallery {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}

.grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}

.grid-gallery .grid-item a {
  cursor: zoom-in;
}

.grid-gallery .grid-item:nth-child(3n - 2) {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery_section{
  margin-top: 3em;
}
.mt-2{
  margin-top: 2em;
}
.lightboxOverlay{
  width: 100% !important;
}
.lb-data .lb-close{
  position: relative;
  top: -39rem;
  right: -1rem;
}

/* Let's make it responsive */
@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .grid-gallery .grid-item:nth-child(3n - 2) {
    grid-column: unset;
    grid-row: unset;
  }
}
/* ----gallery proejct is over now--  */
/* ---project link css is over now--  */

/* --mobile responsice css is here ----  */
@media (min-width: 0px) and (max-width: 990px) { 
  .nav-bar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .mobile-menu{
      border: 0px solid red;
      background-color: white;
      position: relative;
      z-index: 99;
  }
  .arrow_svg{
      border: 0px solid red;
      width: 20px;
      height: 20px;
      text-align: right;
  }
  .mobile-menu ul li:nth-child(6) {
      border: 0px solid red; 
    }
  .submenu li a{
      line-height: 15px;
      border: 0px solid red;
      font-size: 15px;
      padding: 0px;
    }
  .mobile-menu {
      display: none;
      overflow-y: auto;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    @keyframes slideFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%; /* Adjust the width as needed */
      height: 100vh;
      background-color: #fff; /* Adjust background color as needed */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
      animation: slideFromLeft 0.5s ease forwards; /* Adjust duration and timing function as needed */
    }
    .header_burger{
      z-index:  999;
    }
    
    .about_left img{
      margin-left: 2em;
      margin-bottom: 1em;
    }

    .mobile-nav-list{
      width: 100%;
      margin: auto;
      margin-top: 4.5em;
      border: 0px solid red;
    }
    .mobile-nav-list li{
      width: 90%;
      margin: auto;
      border-bottom: 0px solid black;
      cursor: pointer;     
    }
    .mobile-nav-list li a{
      padding: 0.8em 0.5em;
      display: block;
      color: black;
      border: 0px solid red;
      display: flex;
      justify-content: space-between;
    }
    .submenu {
      display: none;
    }
    
    .submenu.active {
      display: block;
    }
    .lb-data .lb-close{
      position: relative;
      top: -21rem;
    }
    
    .header_hirebutton{
      margin-top: 2em;
      text-align: center;
      margin-bottom: 4em;
    }
    .header_hirebutton a{
      color: white;
    }
    
  .header_burger{
      display: block;
      border: 0px solid red;
    
  }
  .menus{
      display: none;
  }
  .spna_class{
    border: 1px solid red;
  }
  .mobile-menu-home{
    border-bottom: 1px solid black;
  }

  /* ---footer media query is here----  */
  .main_flex{
    flex-direction: column;
    border-top: 1px solid var(--black-color);
  }
  .footer_left{
    width: 100%;
    border-top: 0px solid var(--black-color);
    border-bottom: 0px solid black;
    border-right: 0px solid black;
  }
  .footer_right{
    width: 40%;
    margin: auto;
    border-top: 0px solid var(--black-color);
    padding: 1em 0em;
    border: 0px solid red;
    border: none;
  }
  .footer_second_left{
    width: 100%;
    border: none;
  }
.footer_second_right{
    width: 30%;
    border: 0px solid red;
    margin: auto;
  }
  .footer_down_right{
    padding: 0px;
  }
  .footer_down_right ul li{
    padding: 0.1em 0em 0.5em 0.5em;
  }
  .footer_img img{
    width: 100% !important;
    transform: scale(0.8);
  }
  .footer_icon{
    display: none;
  }
  .footer_icon1{
    display: block;
  }
  .footer_icon1{
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .footer_icon1 .footer_icon_img i{
    border: 0px solid red;
    transform: scale(2);
    padding: 0em 1.5em;
  }
  .footer_author_content{
    flex-direction: column;
    text-align: center;
  }
  .swiper-pagination{
    display: none;
  }
  .card{
    margin-left: 1.7em !important;
  }
  /* -----footer code is here--  */
  /* ---proejct media query is here---  */
  .project_section{
    width: 100%;
    flex-direction: column;
  }
  .project_brick p{
    text-align: justify;
  }
  .project_section_left1 {
    width: 100%;
  }
  .project_section_right1{
    width: 100%;
  }
  .project_images img{
    width: 100%;
  }
  .project_section_left1{
    border: 0px solid red;
    padding: 0em 0em 0em 0em;
  }
  .project_section_left12{
    padding: 0em 0em 0em 0em;
  }
  .project_section_left1 h3{
    text-align: center;
  }
  .project_link{
    flex-direction: column;
  }
  .second_section{
    flex-flow: column-reverse;
  }
  .proejctLink_left{
    width: 100%;
  }
  .proejctLink_right{
    width: 100%;
  }

  /* ----about is here --  */

  .about_section{
    flex-direction: column;
    border: 0px solid red;
  }
  .about_left{
    width: 100%;
  }
  .about_left img{
    margin-left: 2em;
    margin-bottom: 1em;
  }
  .about_left h1{
    font-size: 20px;
    width: 100%;
    border: 0px solid red;
    line-height: 33px;
    margin-bottom: 5px;
  }
  .about_right{
    width: 100%;
  }
  .about_right p{
      font-size: 16px;
      line-height: 30px;
      text-align: justify;
  }
  .experience_section{
    width: 100%;
    flex-direction: column;
    margin-top: 2em;
  }
  .experiencce h3{
    font-size: 45px;
    font-weight: 500;
    line-height: 65px;
    margin-bottom: 0.2em;
  }
  .experiencce p{
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .experiencce_border{
    width: 100%;
    border-bottom: 1px solid brown;
    margin-bottom: 0.5em;
  }

  /* ------contact css is here--  */
  .contact_from{
    flex-direction: column;
    width: 100%;
  }
  .contact_from_left{
    width: 100%;
  }
  .contact_from_right{
    width: 95%;
  }
  .contact_map{
    flex-direction: column;
  }
  .contact_map_left{
    width: 100%;
  }
  .contact_map_right{
    width: 100%;
  }
  .grid-container_contact{
    gap: 0px;
  }
  .open_position h2 {
    margin-top: 3em;
  }

}